@{
    ViewData["Title"] = "Home Page";
}

<h1>ASP.NET CORE demo for JSNLog</h1>

<ul>
    <li>
        The JavaScript for this demo is in js/site.js. It uses JSNLog to create a log message and send it to the server.
    </li>
    <li>
        <a href="http://jsnlog.com/Documentation/DownloadInstall/ForAspNetCore">Install JSNLog in your own ASP.NET CORE application</a>.
    </li>
</ul>

<p>
    Your log message:
    <input type="text" id="log-message" />
</p>
<button onclick="onClick()">Log message to server</button>

