<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />


</head>
<body>
    <div>
        <h1>JSNLog Core demo</h1>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsnlog/2.25.1/jsnlog.min.js"></script>
    <script src="~/js/jsnlogdemo.js"></script>
</body>
</html>
